.list-item,
.current {
  font-family: "eurostile-extended";
  font-size: 9pt;
  letter-spacing: 1px;
  display: table-cell;
  vertical-align: middle;
  height: 5vh;
  line-height: 5vh;
  padding: 0 4%;
  text-transform: uppercase;
  white-space: nowrap;
  border-right: 1px solid #1d2b35;
  cursor: pointer;
}

.list-item a,
.current a {
  color: #abd9de;
  text-decoration: none;
}

.list-item:first-child {
  border-left: 1px solid #1d2b35;
}

.list-item:hover,
.current:hover {
  position: relative;
  transition: 0.4s;
  box-shadow: inset 0 0 0px 1px rgba(26, 51, 80, 0.8),
    inset 0 0 25px 1px rgba(26, 51, 80, 0.2);
  text-shadow: 0 0 5px #194fac, 0 0 3px #194fac;
  color: white;
}

.list-item:hover a,
.current:hover a {
  text-shadow: 0 0 5px #194fac, 0 0 3px #194fac;
  color: white;
}
